<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="site-wrapper">

      {% include header.html %}

      <div class="main-content">

        <div class="article-area">
          {{ content }}
        </div>

      </div>

      {% include footer.html %}

    </div>

  </body>

</html>
